

.links {
padding-left: 3%;
display: flex;


}

.links:link{
    text-decoration: none;
}

.links:visited{
    text-decoration: none;
}

.box {
    background: linear-gradient(180deg, #26ddF2 10%, #152130 101%);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    height: 50px;
    width: 35%;
    margin-top: 8%;
    margin-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
    border-color: none;
    border-radius: 5px;
    border: none;
}

.box:hover{
    cursor: pointer;
    background: #0D141E;
    transition: all .6s linear;
    color: white;
    border: 0.1px solid #8E9097;
}

.header {
    font-size: 500%;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    display: flex;
    text-align: left;
    justify-content: left;
    padding-left: 3%;
    margin-top: 1%;
    margin-bottom: 0.5%;
}

.paragraph {
    font-size: 200%;
font-weight: lighter;
font-family: 'Space Grotesk', sans-serif;
display: flex;
padding-left: 3%;
text-align: left;
justify-content: left;
margin-top: 1%;
margin-bottom: 0.5%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 100%;
    align-content: center;
    /* border: 2px;
    border: 2px solid lightgray; */
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 3%;
    margin-bottom: 12%;
    
}

.backgrpund {
    border: 1px solid #000;
    background-image: url(../../img/LANDING011.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}